<div class="inner home">
<h2>47% of small businesses does not have a website.<sup>*</sup></h2>
<h3>Are you one of them?</h3>
<br>
<p>Not matter what your business is about, a website, even a simple landing page, can result in:</p>
<br>
<ul class='home-list'>
    <li><img src="{{asset "images/003-up-arrow.png"}}" /><br>More Sales</li>
    <li><img src="{{asset "images/001-store.png"}}" /><br>Better Apperance</li>
    <li><img src="{{asset "images/002-handshake.png"}}" /><br>Increased Trust</li>
</ul>
<br>
<p><a href="#" class='get-estimate'>Get an estimate today</a></p>
<br>
<h2>What We Do</h2>
<p>We offer one-stop services for your website needs.</p>
<p>Page Design - Website Development - SEO - Website Hosting</p>
<h2>Who We Are</h2>
<p>We are a team of passionate geeks from all around Canada.</p>
<h2>Why Web Artisan</h2>
<p><a href="#" class='get-estimate'>Get an estimate today</a></p>
<div class="row">
    <div class="col-md-6 why-wa">
        <h4>We are affordable</h4>
        <p>Price matters. Why spend thousands of dollars on a website when you can get the same one for less?</p>
    </div>
    <div class="col-md-6 why-wa why-wa-r">
        <h4>No hidden fees</h4>
        <p>You pay the amount on your initial agreement, no hidden fees, no extra charges.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 why-wa">
    <h4>We value security</h4>
        <p>We are in a digital age, websites and online services are more vulnerable than ever.<br>
        We believe security is essential, that's why we host all our websites with SSL encryption enabled.</p>
    </div>
    <div class="col-md-6 why-wa why-wa-r">
        <h4>No hassle</h4>
        <p>Tired of maintaining your website? We have you covered, we maintain your website, and respond to issues so you don't have to.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 why-wa">
        <h4>We put you first</h4>
        <p>We believe that only with customer trust, we can be successful. We always put our clients first, so you can count on us.</p>
    </div>
    <div class="col-md-6 why-wa why-wa-r">
        <h4>No shady tactics</h4>
        <p>Do you know some company intentionally slow down your website or application, so they can charge you for optimization? We never do anything like that.</p>
    </div>
</div>
</div>