<div class="nav">
    <ul>
        <li>Home</li>
        <li>Services</li>
        <li>Get an Estimate</li>
    </ul>
</div>

<script>
    $(document).scroll(function(top){
        if($(this).scrollTop() > 200){
            $(".nav").addClass("small");
        } else {
            $(".nav").removeClass("small");
        }
    });
</script>